---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';

// 1. 追加する
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
// 2. 確認する console.log(allPosts, 'allPosts');

---

<Layout title="Welcome to Astro.">
	<main>
		<div class="mv">
			<h2>世界を変える<br>geekになろう</h2>
		</div>
		<!-- この中に書いていきます -->

		<!-- 表示する領域と内容をこの箇所に設定します -->
	
		<div class="blog">
			<h3>記事の内容</h3>
			<!-- 3.allPostsに収納されているデータを表示する -->
			<div class="card-wrap">
				{allPosts.map((data) => (
					<Card test={data}/>
				))}
			</div>
		</div>
		<!-- 表示する領域と内容をこの箇所に設定します -->

	</main>
</Layout>

<style>
	.blog{
		width: 90%;
		margin: 0 auto 50px;
	}

	.card-wrap{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
	}


	.mv{
		height: 500px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 20px;
		font-weight: bold;
	}
</style>
